* { box-sizing: border-box; }
button {
  cursor: pointer;
}

/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
    background-color: #f5f5f5;
}

body {
  width: 600px;
  line-height: 1.5;
  margin: 0 auto;
}

/* Typography */
h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.75rem;
}

.price {
  font-size: 1.25rem;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.ingredients {
  color: #8b8b8b;
}

/* Layout */
.container {
  padding: 0 45px 45px 45px;
}

header {
  background-image: url('images/image.png');
  background-size: cover;
  color: white;
  padding: 45px 0;
}

main {
  background-color: #ffffff;
}

/* Menu Items */
.item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #DEDEDE;
}

.emoji {
  font-size: 4.75rem;
}

.add-btn {
  margin-left: auto;
  border: 1px solid #DEDEDE;
  border-radius: 50%;
  padding: 16px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
}

.add-btn:hover{
  border: 2px solid #16DB99;
}

.add-btn:active{
  scale: 1.1;
}

/* Order section */

.hidden{
  display: none;
}

#order-section > h3, #instructions-section h3 {
  text-align: center;
  margin: 30px 0;
}

.order-item-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: baseline;
}

.order-item-info p {
  margin-left: auto;
}

#remove-btn {
  border: none;
  background-color: #ffffff;
  color: #c3c3c3;
  font-size: .75rem;
}

#remove-btn:hover {
  scale: 1.1;
  color: #8b8b8b;
}

#order-items {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#purchase-btn{
  width: 100%;
  background-color: #16DB99;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 18px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 35px 0;
}

#purchase-btn:hover {
  background-color: #12bf85;
}

#purchase-btn:active {
  scale: 1.01;
}
